In [25]:
file = '00-example.txt'

output = []
with open(file, 'r') as f:
    firstline = f.readline()
    S_i, S_max, T, D = firstline.split(' ')
    S_i, S_max, T, D = int(S_i), int(S_max), int(T), int(D)
    
    S_c_list = []
    T_r_list = []
    S_r_list = []
    N_a_list = []
    N_a_sum_list = []
    N_a_seq_list = []

    for line in f:
        elements = line.split(' ')
        S_c_list.append(int(elements[0]))
        T_r_list.append(int(elements[1]))
        S_r_list.append(int(elements[2]))
        N_a_list.append(int(elements[3]))
        N_a_seq = []
        for el in elements[4:]:
            N_a_seq.append(int(el))

        N_a_sum_list.append(sum(N_a_seq))
        N_a_seq_list.append(N_a_seq)

In [26]:
import pandas as pd
# zip(*sorted(T_r_list, S_r_list, S_c_list, N_a_list, N_a_sum_list

In [37]:
demon_df = pd.DataFrame([S_c_list, T_r_list, S_r_list, N_a_list, N_a_sum_list], columns=['sc', 'tr', 'sr', 'na', 'nasum'])

demon_stamina_df = demon_df.copy()
demon_reward_df = demon_df.copy()

demon_stamina_df = demon_stamina_df.sort_values(['tr', 'sr'], ascending=(True, False))
demon_reward_df = demon_reward_df.sort_values(['nasum', 'na'], ascending=(True, False))

In [38]:
demon_reward_df.shape

(5, 5)

In [36]:
stamina_recovery_list = []
rewards_list = []
current_stamina = S_i
deamon_index
for t_i in T:
    # recover
    if len(stamina_recovery_list) > 0:
        current_stamina += stamina_recovery_list.pop(0)
        
    # fight
    if current_stamina > demon_reward_df:
        current_stamina += stamina_recovery_list.pop(0)
    
    # reward

   sc  tr  sr  na  nasum
1   4   1   1   6      5
0  16   2   3   7     17
2  18  11   5  10      7
3  13  18  15  13     16
4  55  86  60  52     98